<h4>Select all the correct statements</h4>

<div class="checkbox">
  <label class = "container"><input type="checkbox" name="option">The sea is blue because the skys color is reflected onto it.<br></label>
</div>
<div class="checkbox">
  <label class = "container"><input type="checkbox" name="option">The average walking speed is 3m/s.<br></label>
</div>
<div class="checkbox">
  <label class = "container"><input type="checkbox" name="option">Standing in the sun for extended periods of time is bad from skins health.<br></label>
</div>
