<h3>Administration registration form</h3>

<hr>
<!--Sign-up parameters-->

<form>
  <div class = "form-row">
    <div class="form-group row">
      <label for="" class="col-sm-4 col-form-label">First Name</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="inputFname" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-sm-4 col-form-label">Last Name</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="inputSname" placeholder="">
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class = "col-sm-1 col-form-label" for="Email information">Email address</label>
    <div class = "col-sm-7">
      <input type="email" class="form-control" id="inputPassword" placeholder="ForExample@mail.com">
    </div>
  </div>

  <div class="form-group row">
    <label class = "col-sm-1 col-form-label" for="Position Options">Select Position</label>
    <div class = "col-sm-5">
      <select class="form-control" id="PosOption">
        <!--Position options?-->
        <option>Admin Manager</option>
        <option>Project Manager</option>
        <option>CEO</option>
        <option>COO</option>
        <option>Director</option>
        <option>Team leader</option>
        <option>Scrum manager</option>
        <option>Other...</option>
        <!--Send to other directory or opens text box from users self input-->
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class = "col-sm-1 col-form-label" for="cName">Company</label>
    <div class = "col-sm-5">
      <input type="text" class="form-control" id="inputCompName" aria-describedby="" placeholder="">
    </div>
  </div>

  <div class="form-group row">
    <label class = "col-sm-1 col-form-label" for="cRegNumber">Company registration number</label>
    <div class = "col-sm-5">
      <input type="text" class="form-control" id="inputCompRegNumber" aria-describedby="" placeholder="">
    </div>
  </div>

  <div class="form-group row">
    <label class = "col-sm-1 col-form-label" for="Address">Address</label>
    <div class = "col-sm-5">
      <input type="text" class="form-control" id="inputAddress" aria-describedby="" placeholder="">
    </div>
  </div>

  <div class="form-group row">
    <label class = "col-sm-0.5 col-form-label" for="userContactNumber">Contact No.</label>
    <div class = "col-sm-5">
      <input type="tel" class="form-control" id="inputContNumber" aria-describedby="" placeholder="">
    </div>
  </div>

  <div class = "form-group row">
    <label class = "col-sm-1 col-form-label" for="validationDefault01">Username</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="validationDefault01" >
    </div>
  </div>
    

  <!--May add code that forces min and max character length for passwords-->
  <div class="form-group row">
    <label class = "col-sm-1 col-form-label" for="exampleInputEmail1">Password</label>
    <div class = "col-sm-5">
      <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="" placeholder="">
      <small id="emailHelp" class="form-text text-muted">Please insure your password 8 to 14 characters long.</small>
    </div>
  </div>

  <div class="form-group row">
    <label class = "col-sm-1 col-form-label" for="exampleInputEmail1">Password confirm</label>
    <div class = "col-sm-5">
      <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="PasswordCheck" placeholder="">
      <small id="emailHelp" class="form-text text-muted">Please insure your password 8 to 14 characters long.</small>
    </div>
  </div>

<hr>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="FullSubmit">
    <label class="form-check-label" for="check">Agree to terms and conditions</label>
    <!--Link terms and conditions-->
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<footer>

</footer>