<div class="format">
  <h5>CDSAS - Current Distributed Security Awareness System</h5>
  <p>CDSAS is a Complete Cyber Defence Service that gives you peace of mind. CDSAS
    provides and manages security you need to successfully protect your critical assets from
    cyber-attacks and GDPR breaches.</p>
  <h5>Cyber threats are real!</h5>
  <p>Protecting your organisation and data should be at the core of every organisation’s agenda.
    Are you aware of the prolific rise in Cyber Threats?</p>
  <h5>FASTEST ZEBRA! ESCAPE THE LIONS! BE ONE OF THEM!</h5>

  <p>CDSAS- We have the Team- The Expertise to conduct Risk Management and Risk
    Assessment and advise the appropriate controls needed to fight against Direct &amp; Indirect
    threats</p>

  <h5>CDSAS Solutions:</h5>
  <div>
    <p>Security awareness:</p>
    <p><li>“The root cause of many cyber breaches is human behaviour, employees being the weakest
      link in security. An employee might pose a risk unconsciously, through carelessness or
      tricked into clicking on a link or attachment through a spear-phishing campaign. Or they
      could pose a more active risk, because of anger or disgruntlement at work. If human element
      is not addressed in cyber vulnerability, it won’t be possible to deploy an effective strategy.
      It’s dangerous to be overly focused on technology.”</li></p>
  </div>
  <div>
    <p>Offensive solution:</p>
    <p><li> Penetration testing Offensive posture is the key to well protect computers systems and proactively safeguard
      your infrastructure and penetration testing is the best technique ever to accomplish the task.
      CDSAS- we have the Team &amp; we have the Expertise to discover vulnerabilities—Apply the
      appropriate controls before attackers identify them.</li></p>
  </div>

</div>