<div class="center">
  <div class="row">
    <div class="form-group mb-4 heading">
      <h4>Registration</h4>
    </div>
  </div>
  <div class="form">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"  novalidate>
      <div class="row form-group">
        <div class="col-2">
          <label for="email">Email</label>
        </div>
        <div class="col-7">
          <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
            pattern="[^ @]*@[^ @]*" required/>
          <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.pattern">Email must be a valid email address</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-2">
          <label for="firstname">First Name</label>
        </div>
        <div class="col-7">
          <input type="text" class="form-control" name="firstname" [(ngModel)]="model.firstname" #firstname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstname.invalid }"
            required />
          <div *ngIf="f.submitted && firstname.invalid" class="invalid-feedback">
            <div *ngIf="firstname.errors.required">First Name is required</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-2">
          <label for="lastname">Last Name</label>
        </div>
        <div class="col-7">
          <input type="text" class="form-control" name="lastname" [(ngModel)]="model.lastname" #lastname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastname.invalid }"
            required />
          <div *ngIf="f.submitted && lastname.invalid" class="invalid-feedback">
            <div *ngIf="lastname.errors.required">Last Name is required</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-2">
          <label for="position">Select position</label>
        </div>
        <div class="col-7">
          <select class="form-control" id="position" name="position" [(ngModel)]="model.position" #position="ngModel" [ngClass]="{ 'is-invalid': f.submitted && position.invalid }"
            required>
            <option *ngFor="let position of positions$ | async" [value]="position.description">{{position.description}}</option>
          </select>
          <div *ngIf="f.submitted && position.invalid" class="invalid-feedback">
            <div *ngIf="position.errors.required">Please clarify position.</div>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-2">
          <label for="role">Select role</label>
        </div>
        <div class="col-7">
          <select class="form-control" name="role" [(ngModel)]="model.role" #role="ngModel" [ngClass]="{ 'is-invalid': f.submitted && role.invalid }"
            required>
            <option *ngFor="let role of roles$ | async" [value]="role.description">{{role.description}}</option>
          </select>
          <div *ngIf="f.submitted && role.invalid" class="invalid-feedback">
            <div *ngIf="role.errors.required">Please clarify role.</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-2">
          <label for="inp">Active</label>
        </div>
        <div class="col-7">
          <input class="form-control" id="inp" type="checkbox" name="isactive" [(ngModel)]="model.isactive" #isactive="ngModel">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-2">
          <label for="role">Subscription</label>
        </div>
        <div class="col-7">
          <select class="form-control" name="subtype" [(ngModel)]="model.subtype" #subtype="ngModel" [ngClass]="{ 'is-invalid': f.submitted && subtype.invalid }"
            required>
            <option *ngFor="let subscription of subscriptions$ | async" [value]="subscription.description">{{subscription.description}}</option>
          </select>
          <div *ngIf="f.submitted && subtype.invalid" class="invalid-feedback">
            <div *ngIf="subtype.errors.required">Please clarify role.</div>
          </div>
        </div>
      </div>
      <div>
        <div class="form-group" align="right">
          <button class="btn btn-primary">Generate</button>
        </div>
      </div>

    </form>
  </div>
</div>