<div class="container">
  <div class="form-group mb-4">
    <h4>Admin Registration Form</h4>
  </div>
  <div class="form">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="row form-group">
        <div class="col-3">
          <label for="firstname">First Name</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="firstname" [(ngModel)]="model.firstname" #firstname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstname.invalid }"
            required />
          <div *ngIf="f.submitted && firstname.invalid" class="invalid-feedback">
            <div *ngIf="firstname.errors.required">First Name is required</div>
          </div>
        </div>

      </div>
      <div class="row form-group">
        <div class="col-3">
          <label for="lastname">Last Name</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="lastname" [(ngModel)]="model.lastname" #lastname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastname.invalid }"
            required />
          <div *ngIf="f.submitted && lastname.invalid" class="invalid-feedback">
            <div *ngIf="lastname.errors.required">Last Name is required</div>
          </div>
        </div>

      </div>
      <div class="row form-group">
        <div class="col-3">
          <label for="email">Email</label>
        </div>
        <div class="col">
          <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
            pattern="[^ @]*@[^ @]*" required/>
          <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.pattern">Email must be a valid email address</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-3">
          <label for="username">Username</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }"
            required />
          <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
            <div *ngIf="username.errors.required">Username is required</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-3">
          <label for="password">Password</label>
        </div>
        <div class="col">
          <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
            required minlength="6" />
          <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-3">
          <label for="passwordconfrim">Comfirm password</label>
        </div>
        <div class="col">
          <input type="password" class="form-control" name="passwordconfirm" [(ngModel)]="model.passwordconfirm" #passwordconfirm="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && passwordconfirm.invalid }" required minlength="6" />
          <div *ngIf="f.submitted && passwordconfirm.invalid" class="invalid-feedback">
            <div *ngIf="passwordconfirm.errors.required">Please confirm your password</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-3">
          <label for="position">Select position</label>
        </div>
        <div class="col">
          <select class="form-control" id="position" name="position" [(ngModel)]="model.position" #position="ngModel" [ngClass]="{ 'is-invalid': f.submitted && position.invalid }"
            required>
            <option>Admin Manager</option>
            <option>Project Manager</option>
            <option>CEO</option>
            <option>COO</option>
            <option>Director</option>
            <option>Team leader</option>
            <option>Scrum manager</option>
            <option>Other...</option>
          </select>
          <div *ngIf="f.submitted && position.invalid" class="invalid-feedback">
            <div *ngIf="position.errors.required">Please select your position or job title</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-3">
          <label for="companyname">Company</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="companyname" [(ngModel)]="model.companyname" #companyname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && companyname.invalid }"
            required />
          <div *ngIf="f.submitted && companyname.invalid" class="invalid-feedback">
            <div *ngIf="companyname.errors.required">Company name is required</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-3">
          <label for="companyregnumber">Company registration number</label>
        </div>
        <div class="col">
          <input type="number" class="form-control" name="companyregnumber" [(ngModel)]="model.companyregnumber" #companyregnumber="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && companyregnumber.invalid }" required />
          <div *ngIf="f.submitted && companyregnumber.invalid" class="invalid-feedback">
            <div *ngIf="companyregnumber.errors.required">Registration number name is required</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-3">
          <label for="address">Address</label>
        </div>
        <div class="col">
          <textarea class="form-control" id="address" name="address" [(ngModel)]="model.address" #address="ngModel" [ngClass]="{ 'is-invalid': f.submitted && address.invalid }"
            rows="5" required></textarea>
          <div *ngIf="f.submitted && address.invalid" class="invalid-feedback">
            <div *ngIf="address.errors.required">Address is required</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-3">
          <label for="contact">Contact No.</label>
        </div>
        <div class="col">
          <input type="tel" class="form-control" name="contact" [(ngModel)]="model.contact" #contact="ngModel" [ngClass]="{'is-invalid': f.submitted && contact.invalid }"
            pattern="[0-9]{3}[0-9]{4}[0-9]{4}" required />
          <div *ngIf="f.submitted && contact.invalid" class="invalid-feedback">
            <div *ngIf="contact.errors.required">A contact number is required</div>
            <div *ngIf="contact.errors.pattern">Number is not valid</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Register</button>
        <label class="validation">{{message}}</label>
      </div>
    </form>
  </div>
</div>