<div class="row form-group">
  <h3>Administration registration form</h3>
</div>
<form class="form">
  <div class="form-group row">
    <div class="col-3">
      <label for="firstname" class="form-label">First Name</label>
    </div>
    <div>
      <input type="text" class="form-control" id="firstname" placeholder="">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
      <label for="surename" class="form-label">Last Name</label>
    </div>
    <div>
      <input type="text" class="form-control" id="surename" placeholder="">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
      <label class="form-label" for="useremail">Email address</label>
    </div>
    <div>
      <input type="email" class="form-control" id="useremail" placeholder="ForExample@mail.com">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
      <label class="form-label" for="position">Select Position</label>
    </div>

    <div>
      <select class="form-control" id="position">
        <!--Position options?-->
        <option>Admin Manager</option>
        <option>Project Manager</option>
        <option>CEO</option>
        <option>COO</option>
        <option>Director</option>
        <option>Team leader</option>
        <option>Scrum manager</option>
        <option>Other...</option>
        <!--Send to other directory or opens text box from users self input-->
      </select>
    </div>
  </div>

  <div class="form-group row">
      <div class="col-3">
        <label class="form-label" for="compname">Company</label>
      </div>
      <div>
        <input type="text" class="form-control" id="compname">
      </div>
    </div>

    <div class="form-group row">
        <div class="col-3">
          <label class="form-label" for="compregnumber">Company registration number</label>
        </div>
        <div>
          <input type="text" class="form-control" id="compregnumber">
        </div>
      </div>

  <div class="form-group row">
        <div class="col-3">
          <label class="form-label" for="Address">Address</label>
        </div>
        <div>
          <input type="text" class="form-control" id="Address">
        </div>
      </div>

  <div class="form-group row">
        <div class="col-3">
          <label class="form-label" for="contact">Contact No.</label>
        </div>
        <div>
          <input type="tel" class="form-control" id="contact">
        </div>
      </div>

      <div class="form-group row">
          <div class="col-3">
            <label class="form-label" for="username">Username</label>
          </div>
          <div>
            <input type="text" class="form-control" id="username">
          </div>
        </div>


  <!--May add code that forces min and max character length for passwords-->
    <div class="form-group row">
        <div class="col-3">
          <label class="form-label" for="password">Password</label>
        </div>
        <div>
          <input type="password" class="form-control" id="password">
          <small id="emailHelp" class="form-text text-muted">Please insure your password 8 to 14 characters long.</small>
        </div>
      </div>

      <div class="form-group row">
          <div class="col-3">
            <label class="form-label" for="passwordconf">Password confirm</label>
          </div>
          <div>
            <input type="password" class="form-control" id="passwordconf">
            <small id="emailHelp" class="form-text text-muted">Please insure your password 8 to 14 characters long.</small>
          </div>
        </div>

  <hr>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="FullSubmit">
    <label class="form-check-label" for="check">Agree to terms and conditions</label>
    <!--Link terms and conditions-->
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<footer>
   <br>
</footer>