<div class="row form-group">
  <h3>Employees Register</h3>
</div>
<div class="row form-group">
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Employee ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row form-group" [hidden]="isaddemployee">
  <table class="table">
    <tbody>
      <tr>
        <td scope="row">
          <input type="text" class="form-control" placeholder="Emp ID" />
        </td>
        <td>
          <input type="text" class="form-control" placeholder="First Name" />
        </td>
        <td>
          <input type="text" class="form-control" placeholder="Last Name" />
        </td>
        <td>
          <input type="email" class="form-control" placeholder="Email" />
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="float-left">
  <button type="button" class="btn btn-primary">Add</button>
</div>
<div class="float-right">
  <button type="button" class="btn btn-primary">Import</button>
</div>