<div class="row form-group">
  <div class="col-1">
    <label for="topic">Topic:</label>
  </div>
  <div class="col-11">
    <input type="text" class="form-control" name="topic" [(ngModel)]="model.topic" #topic="ngModel" [ngClass]="{ 'is-invalid': topic.invalid }"
      pattern="[^ @]*@[^ @]*" required/>
    <div *ngIf="topic.invalid" class="invalid-feedback">
    <div *ngIf="topic.errors.required">Topic is required</div>
    </div>     
  </div>
</div>

<div class = "row">
  <div class = "imagebox" id= "image">

  </div>
  <div class = "imagebox" id= "description"style = "float:right">

  </div>
</div>

<div class = "row">
  <div class = "imageboxt" id= "counter measure">

  </div>
</div>

<div class = "row">
  <div class = "imagebox" id= "question">

  </div>
  <div class = "imagebox" id= "answer"style = "float:right">

  </div>
</div>

<div class="row">
  <div class="float-left ml-1">
    <button type="button" class="btn btn-primary">Prev</button>
  </div>
  <div class="float-right ml-1">
    <button type="button" class="btn btn-secondary">Next</button>
  </div>
</div>