<div class="format">
  <p>
    <a [routerLink]="['/video']">Video Links</a>
  </p>
  <h3>How do I get started?</h3>
  <p>In order to use our system for Cybersecurity Awareness training or requesting our
    services in areas of Risks Management,Penestration Testing
    and Security Model Designing for your organization,
    please follow the steps below:</p>

  <ul>
    <li>Contact our Custormer service on +44-7801981955
      or Complete our Registration Form on <a [routerLink]="['/admin']">Admin</a>.</li>
    <li>You would immediately receive an email with a deeplink</li>
    <li>The deeplink would take you to a Client Registration Form.
      Please do Complete the form as soon as possible!</li>
    <li>On completing the form you would be taken to a sign in page</li>
    <li>You would subsequently be taken to employees registration page.
      Use this form to register employees you want to be involved in cybersecurity awareness training for the period of your subscription.</li>
    <li>Click 'Publish' button on the page to notify the added employees.</li>
    <li>Each published deeplink would route each employee to our cybersecurity awareness training platform.</li>
    <li>Please use <a [routerLink]="['/contact']">Contact Us</a> button to contact us for Penestration testing,
      Risks Assessment and Managemnt, Security Model Designing and other security consultantcy services.</li>
  </ul>
</div>